<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>게시물 상세 조회</title>

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>


<body>


	<input type="hidden" id="loginUser" th:value="${loginUser}">


	<nav class="nav justify-content-end nav-dark bg-dark fixed-top">
		<li class="nav-item">
			<form th:action="@{signout.do}" method="post">
				<button type="submit" class="nav-link text-white">Logout</button>
			</form>
		</li>
	</nav>




	<div class="container py-5" style="max-width: 800px">


		<div class="row pt-5 mt-5">
			<div>
				<table class="table">
					<div>
						<h4> 게시물 상세 정보</h4>
					</div>

					<thead class="table-primary">
						<tr>
							<th style="width: 20%">제목</th>
							<th style="width: 80%" colspan="2" th:text="${article.ntt_sj}"></th>
						</tr>
					</thead>

					<tbody class="table-group-divider">
						<tr>
							<td style="width: 20%">등록일</td>
							<td style="width: 80%" colspan="2" th:text="${article.frst_regist_pnttm}"></td>
						</tr>
						<tr>
							<td style="width: 20%">등록자</td>
							<td style="width: 60%" th:text="${article.ntcr_nm}"></td>
							<td style="width: 20%">
								조회수 :<span th:text="${article.rdcnt}"></span>
							</td>

						</tr>

						<tr style="height: 200px;">
							<td class="span3" style="width: 100%" colspan="3" th:text="${article.ntt_cn}"></td>
						</tr>

						<tr th:if="${ article.last_updt_pnttm != null }">
							<td style="width: 20%">수정일</td>
							<td style="width: 80%" colspan="2" th:text="${article.last_updt_pnttm}"></td>
						</tr>


					</tbody>
				</table>
			</div>

		</div>


		<div class="d-flex justify-content-end py-1">

			<!-- 수정 버튼 -->
			<form th:if="${myArticle == true}" th:action="@{updateArticleView.do}" method="get">
				<input type="hidden" name="ntt_id" th:value="${article.ntt_id}">
				<input type="hidden" name="mode" th:value="modi">
				<button type="submit" class="btn btn-secondary">수정</button>
			</form>

			<form th:if="${myArticle == true}" th:action="@{deleteArticle.do}" th:method="delete">
				<input type="hidden" name="ntt_id" th:value="${article.ntt_id}">
				<button type="submit" class="btn btn-secondary mx-1">삭제</button>
			</form>

			<!-- 목록 버튼 -->
			<form th:action="@{selectArticleList.do}" method="get">
				<button type="submit" class="btn btn-primary">목록</button>
			</form>

		</div>



		<!-- 댓글 기능 -->
		<div class="row pt-3 mt-5">

			<!-- 댓글 개수 -->
			<div class="ft-bd">Comments : <span id="cnt" th:text="${#lists.size(comments)}"></span></div>


			<!-- 댓글 작성 -->
			<div>
				<textarea class="form-control" type="text" rows="4" id="cmt_cn" placeholder="댓글을 입력하세요."></textarea>
				<br>
				<input type="hidden" id="ntt_id" th:value="${article.ntt_id}">
				<button type="submit" class="btn btn-dark mb-3" id="cmtRegisterCheck"
					style="font-size: small;">댓글작성</button>
			</div>
			<hr>

			<!-- 댓글 목록 출력 -->
			<div id="cmtView">
				<div id="editForm">

				</div>

				<div id="cmtList">

				</div>
			</div>
		</div>
	</div>




	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>


	<!--<script type="text/javascript">-->
	<script th:inline="javascript">

		const loginUser = [[${loginUser}]];
		var comments = [[${comments}]];
		getCommentList(comments);



		// 댓글 등록
		$("#cmtRegisterCheck").click(function () {

			$.ajax({
				type: "POST",
				url: "/cop/bbs/insertComment.do",
				data: {
					"cmt_cn": $("#cmt_cn").val(),
					"ntt_id": $("#ntt_id").val()
				},
				success: function (data) {

					if ($('#cmtList')[0] != null) {
						// 원래 내용 지우기
						$('#cmtList')[0].replaceChildren();
					}

					getCommentList(data);
				},
				error: function (request) {
					location.href = "/cop/bbs/signinView.do";
					alert("로그인 후 이용 가능합니다.");
				}
			})
		})


		// 댓글 수정 - 아직 ,,,
		function editComment(cmt_id, ntt_id, cmt_cn) {

			$('#cmtContent' + cmt_id).hide();

			var html =
				'<textarea id="editCmtText" class="form-control" type="text" rows="4">'
				+ cmt_cn +
				'</textarea>' +
				'<br><button type="submit" class="btn btn-dark mb-3" id="editCommentCheck" style="font-size: small;">'
				+ '댓글 수정' +
				'</button>';
			$('#cmt' + cmt_id).append(html);



			$('#editCommentCheck').click(function () {

				$.ajax({
					type: "PUT",
					url: "/cop/bbs/updateComment.do",
					data: {
						"cmt_id": cmt_id,
						"cmt_cn": $('#editCmtText').val(),
						"ntt_id": ntt_id
					},
					success: function (data) {
						// 원래 내용 지우기
						$('#cmtList')[0].replaceChildren();
						getCommentList(data);
					}
				})
			})
		}

		// 댓글 삭제
		function delComment(cmt_id, ntt_id) {

			console.log("cmt_id  = ", cmt_id);

			$.ajax({
				type: "DELETE",
				url: "/cop/bbs/deleteComment.do",
				data: {
					"cmt_id": cmt_id,
					"ntt_id": ntt_id
				},
				success: function (data) {

					// 원래 내용 지우기
					$('#cmtList')[0].replaceChildren();
					getCommentList(data);
				}
			})
		}


		// 댓글 출력 함수
		function getCommentList(comments) {

			var html = '';

			$.each(comments, function (i, comment) {

				var register_id = comment.cmt_register_id;
				var cmt_id = comment.cmt_id;
				var cmt_cn = comment.cmt_cn;
				var ntt_id = comment.ntt_id;

				var xBtn =
					'<div style="float: right;">' +
					'<button id="deleteBtn" type="button" class="btn btn-secondary m-1"' +
					'onclick="delComment(' + cmt_id + ', ' + ntt_id + ')">X</button>' +
					'</div>';


				var editBtn =
					'<div style="float: right;">' +
					'<button id="editBtn" type="button" class="btn btn-white m-1 text-primary"' +
					'onclick="editComment(' + cmt_id + ', ' + ntt_id + ', \'' + cmt_cn + '\' )">수정</button>' +
					'</div>';



				html += '<div id= cmt' + cmt_id + '>';
				html += '<span ' + 'style="font-weight: bold;">' + register_id + '</span>';

				if (loginUser == register_id) {
					html += xBtn;
					html += editBtn;
				}

				html += '</div>';
				html += '<div id="cmtContent' + cmt_id + '" ' + 'style="font-size: small;">' + cmt_cn + '</div>';
				html += '<hr>';


			})

			$("#cmtList").append(html);
			$("#cnt").text(Object.keys(comments).length);
			$("#cmt_cn").val('');
		}


	</script>

</body>

</html>