<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<title>게시물 등록</title>
</head>

<body>

	<nav class="nav justify-content-end nav-dark bg-dark fixed-top">
		<li class="nav-item">
			<form th:action="@{signout.do}" method="post">
				<button type="submit" class="nav-link text-white">Logout</button>
			</form>
		</li>
	</nav>


	<div class="container py-5" style="max-width: 700px">

		<h2 th:if="${mode.equals('reg')}" class="text-center fw-bold pt-5 mt-5"> 게시물 등록</h2>
		<h2 th:if="${mode.equals('modi')}" class="text-center fw-bold pt-5 mt-5"> 게시물 수정</h2>

		<div>
			<form th:if="${mode.equals('reg')}" th:action="@{insertArticle.do}" method="post">
				<label class="form-label">제목</label> <input class="form-control" type="text" name="ntt_sj"><br>
				<label class="form-label">내용</label>
				<textarea class="form-control" type="text" rows="4" name="ntt_cn"></textarea>
				<br>

				<!--
				<label>비밀글</label> <input type="checkbox" name="secrete"><br>
				<label>익명등록</label> <input type="checkbox" name="anonymous"><br>
				-->

				<button type="submit" class="btn btn-primary">등록</button>
			</form>



			<form th:if="${mode.equals('modi')}" th:action="@{updateArticle.do}" th:method="patch"
				style="height: 100vh">
				<label class="form-label">제목</label> <input class="form-control" type="text" name="ntt_sj"
					th:value="${article.ntt_sj}"><br>
				<label class="form-label">내용</label>
				<textarea class="form-control" th:text="${article.ntt_cn}" type="text" rows="4"
					name="ntt_cn"></textarea>

				<input type="hidden" name="ntt_id" th:value="${article.ntt_id}"> <br>
				<button type="submit" class="btn btn-primary m-auto">수정</button>
			</form>
		</div>


	</div>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">



		</script>

</body>

</html>